// Media Queries
// --------------------------------------------------
$tiny-bear: max-width 450px;
$baby-bear: max-width 767px;
$mama-bear: 768px 979px;
$mama-bear-max: max-width 979px;
$papa-bear: 1200px;
